*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  // padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(194 168 183);
}

#root {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 1000;
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1000;
  overflow: hidden;
  background-image: linear-gradient(to top, #c1a6b6, rgba(255, 255, 255, 0)),
    url("@/assets/pawel.jpg");
  background-size: cover;
  background-position: center;
  height: 1204px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 800px;
}

input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

li {
  font-family: $font-family-primary;
  list-style: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  /* Réinitialisation des styles par défaut du bouton */
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.colored-image {
  color: #d9d9;
}

blockquote P {
  quotes: "‘‘ " " ’’";
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}
