.header__title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    position: relative;
    left: -200px;
    top: -18px;
  }

  & h1 {
    color: $primary-color;
    position: absolute;
  }

  //   &__cloud {
  //     position: absolute;
  //     top: 375px;
  //     right: 565px;

  //     & img {
  //       position: relative;
  //     }
  //   }
}
