.header {
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 0;
  }

  &__container {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      @include desktop {
        display: flex;
        flex-direction: column;
      }

      &__icon {
        &--air {
          position: relative;
          left: -70px;
          top: 117px;
          filter: contrast(1.5);
          width: 9rem;
          @include desktop {
            position: relative;
            left: -171px;
            top: 16px;
            filter: contrast(1.5);
            width: 100%;
          }
        }

        &--cloud {
          position: relative;
          top: -103px;
          right: -180px;
          width: 3rem;
          filter: contrast(1.5);
          @include desktop {
            top: -195px;
            right: -432px;
            width: 8rem;
          }
        }
      }

      & h1 {
        color: white;
        @include desktop {
          color: white;
          position: absolute;
        }
      }
    }

    &__quote {
      position: relative;
      bottom: 55px;
      font-family: $font-family-primary;
      padding: 20px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: $primary-color;
      height: 0;
      @include desktop {
        width: 20%;
        position: relative;
        top: -102px;
        left: 224px;
        font-size: 24px;
      }
    }

    &__btn {
      color: white !important;
      text-align: center;
      font-size: auto;
      font-weight: 100;
      border: 1px solid #f1ebee;
      border-radius: 30px;
      background-color: rgba(217, 217, 217, 0.5803921569);
      color: black;
      font-weight: bold;
      margin: 2px;
      cursor: pointer;
      width: 150px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 0 0 20px #fff;
      }
    }
  }

  /*----- Navbar -----*/

  &__navbar {
    width: 100%;
    height: 80px;
    margin: 0 auto;

    @include desktop {
      width: 1024px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1000px;
      margin: 0;

      & img {
        z-index: 99;
      }

      & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        padding: 150px 50px;
        gap: 2rem;
        color: white;

        @include desktop {
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;
          font-weight: bold;
          font-size: 24px;
          padding: 50px;
          font-family: $font-family-primary;
          color: white;
          width: auto;
          position: static;
          opacity: 1;
          transition: none;
          gap: 0;
        }

        &.active {
          display: flex;
          left: 0px;
          top: 0;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 9;
          background-color: #c1a6b6;
          height: 100vh;
          position: fixed;

          @include desktop {
            display: flex;
            align-items: baseline;
            margin-top: 15px;
            height: 0;
          }

          & li:hover {
            background-color: transparent;
            color: inherit;
            padding: 0;
          }
        }
      }

      &__link--nude {
        &:after {
          content: "";
          display: block;
          width: 0;
          background: transparent;
          transition: width 0.7s ease, background-color 0.5s ease;
        }

        &:hover {
          background-color: $primary-color;
          text-decoration: none !important;
          @include desktop {
            background-color: transparent;
            text-decoration: underline !important;
          }
        }

        &:hover:after {
          width: 100%;
          height: 1px;
        }

        @include desktop {
          padding: 15px;
          margin: 0 20px;
          cursor: pointer;
        }
      }

      &__link--btn {
        text-align: center;
        cursor: pointer;
        @include desktop {
          padding: 15px;
          border: 3px solid white;
          background: rgba(255, 255, 255, 0.5);
          width: 220px;
          margin-left: 20px;
        }

        &:hover {
          background-color: $primary-color;
          color: #c2a6b4;
          text-decoration: none;
        }
      }

      &__icon {
        display: block;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: $primary-color;
        @include desktop {
          display: none;
        }
      }
    }
  }
}
