.testimonial {
  max-width: 1024px;
  margin: 0 auto;
  padding: 100px 0;

  &-title {
    font-family: $font-family-primary;
    font-size: 33px;
    text-align: center;
    color: $primary-color;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0;
  }
}
