.testimonial__container__slide {
  background-color: $primary-color;
  @include shadow;
  width: 50vh;
  height: 50vh;
  margin: 0 auto;

  @include desktop {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 100%;
    height: 300px;
    background: #f1ebee;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 2rem;
  }

  &--logo {
    position: relative;
    bottom: -33px;
    z-index: 9;
    left: 39px;
    @include desktop {
      display: none;
    }
  }

  &__arrow {
    &--prev {
      visibility: hidden;
      @include desktop {
        visibility: visible;
        font-size: 50px;
        color: $primary-color;
        margin-right: 30px;
        cursor: pointer;
      }
    }

    &--next {
      visibility: hidden;
      @include desktop {
        visibility: visible;
        font-size: 50px;
        color: $primary-color;
        margin-left: 30px;
        cursor: pointer;
      }
    }
  }

  &__image {
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 83px;
    left: 121px;
    z-index: 999;
    width: 100px;
    height: 100px;
    @include shadow;

    @include desktop {
      width: 284px;
      height: 300px;
      border-radius: 0;
      margin: 0;
      position: relative;
      top: 30px;
      left: 30px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    @include tablet {
      bottom: 118px;
      left: 191px;
      width: 167px;
      height: 182px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: lightgray 50%;
    }
  }

  &__content {
    margin: 0 30px 30px;
    background-color: rgb(124, 90, 123);
    height: 100%;
    position: relative;
    bottom: 143px;
    padding-top: 25%;
    color: white;
    text-align: center;

    @include desktop {
      text-align: left;
      background-color: transparent;
      box-shadow: none;
      width: 60%;
      height: 0;
      padding: auto;
      margin: 0 auto;
      color: inherit;
    }

    @include tablet {
      bottom: 250px;
      padding-top: 35%;
    }

    &__name {
      @include desktop {
        font-weight: bold;
        color: black;
        text-align: left;
      }
    }

    &__date {
      margin: 10px 0;
      font-style: oblique;
      @include desktop {
        margin: 10px;
      }
    }

    &__story {
      margin: 20px;

      @include desktop {
        margin: 10px;
      }
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @include desktop {
      display: none;
    }
  }
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%; // Pour créer des cercles
  background-color: #ccc; // Couleur des points non sélectionnés
  margin: 0 5px; // Marge entre les points
  cursor: pointer;
  @include desktop {
    visibility: hidden;
  }

  &.active {
    background-color: $tertiary-color;
  }
}
