.testimonial__container__slide {
  // max-height: 100%;
  // height: 400px;
  margin: 0 auto;

  @include desktop {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 100%;
    height: 300px;
    background: #f1ebee;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 2rem;
  }

  @include tablet {
    // max-height: 250px;
    width: 100%;
  }

  &--logo {
    position: relative;
    bottom: -128px;
    z-index: 9;
    left: 50px;

    @include desktop {
      display: none;
    }

    // @include tablet {
    //   width: 80%;
    //   bottom: 19px;
    //   left: 46px;
    // }
  }

  &__arrow {
    &--prev {
      visibility: hidden;
      @include desktop {
        visibility: visible;
        font-size: 50px;
        color: $primary-color;
        margin-right: 30px;
        cursor: pointer;
      }
    }

    &--next {
      visibility: hidden;
      @include desktop {
        visibility: visible;
        font-size: 50px;
        color: $primary-color;
        margin-left: 30px;
        cursor: pointer;
      }
    }
  }

  &__image {
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 112px;
    // float: inline-start;
    position: relative;
    bottom: 87px;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    z-index: 999;
    @include shadow;

    @include desktop {
      width: 284px;
      height: 300px;
      border-radius: 0;
      margin: 0;
      position: relative;
      top: 30px;
      left: 30px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    // @include tablet {
    //   bottom: 120px;
    //   left: 250px;
    //   width: 112px;
    //   height: 112px;
    // }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: lightgray 50%;
    }
  }

  &__content {
    margin: 0 30px 30px;
    background-color: $primary-color;
    height: 450px;
    max-width: 100%;
    position: relative;
    z-index: 1;
    bottom: 205px;
    padding-top: 6rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
      text-align: left;
      background-color: transparent;
      box-shadow: none;
      position: unset;
      width: 60%;
      height: auto;
      padding: 0;
      margin: 0 auto;
      color: inherit;
    }

    // @include tablet {
    //   padding: 0 50px;
    // }

    &::after {
      content: "";
      position: absolute;
      background-color: rgb(124, 90, 123);
      @include shadow;
      width: 95%;
      height: 100%;
      margin: 0 auto;
      z-index: -51;
      top: -10px;
      // border: 1px solid red;

      @include desktop {
        content: none;
      }
    }

    &__name {
      @include desktop {
        font-weight: bold;
        color: black;
        text-align: left;
      }
    }

    &__date {
      margin: 10px 0;
      font-style: oblique;
      @include desktop {
        margin: 10px;
      }
    }

    &__story {
      margin: 0 20px;

      @include desktop {
        margin: 10px;
      }

      @include tablet {
        margin: 35px;
      }
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;
    margin-top: -212px;
    @include desktop {
      display: none;
    }
  }
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%; // Pour créer des cercles
  background-color: #ccc; // Couleur des points non sélectionnés
  margin: 0 5px; // Marge entre les points
  cursor: pointer;
  @include desktop {
    visibility: hidden;
  }

  &.active {
    background-color: $tertiary-color;
  }
}
