.gallery {
  width: 100%;
  margin: 0;
  background-color: #c4a6b5;

  @include desktop {
    width: 1024px;
    margin: 0 auto;
    background-color: transparent;
  }

  &--title {
    padding: 10px 0;
    background-color: rgb(196 166 181);
    @include desktop {
      display: none;
    }
  }

  &__nav {
    display: none;
    @include desktop {
      display: flex;
      justify-content: space-between;
      border-bottom: 4px solid $primary-color;
    }

    &__list {
      display: flex;
      align-items: center;
      list-style-type: none;

      & li {
        margin: 0 35px;
        color: $primary-color;
        cursor: pointer;
      }
    }

    &__search {
      display: flex;
      align-items: center;
      width: 370px;
      height: 62px;
      background-color: #d9d9d99e;
    }
  }

  &__container {
    margin: 0 30px;
    @include desktop {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 35px;
      gap: 15px;
    }

    &__pages {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include desktop {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }

      &__showmore {
        border: 1px solid $primary-color;
        @include shadow;
        margin-top: 30px;
        width: 250px;
        height: 45px;
        color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          box-shadow: 0 0 20px $secondary-color;
        }

        & button {
          color: white;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px 20px;
          transition: opacity 0.3s ease-in-out;

          &:disabled {
            opacity: 0;
            pointer-events: none;
          }

          @include desktop {
            padding: 10px 40px;
          }

          & svg {
            position: absolute;
            transform: translateY(-0%);
            @include desktop {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              margin-left: 10px;
            }
          }
        }

        &--loader {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 0;
          overflow: hidden;
          transition: height 0.3s;

          &-show {
            height: 40px;
          }
        }
      }
    }
  }
}
