/* Colors */
$primary-color: #f1ebee;
$secondary-color: #d9d9d9;
$tertiary-color: #55a9a9;

/* Background */

$background-gallery: url("@/assets/jawel.jpg");

/*breakpoints*/
$breakpoints: (
  desktop: 990px,
  tablet: 768px,
);
